@font-face{
	font-family: 'Open-Sans'; 
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}


@font-face{
	font-family: 'Open-Sans-Light'; 
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}


header{

	width: 100%; 
	height: 150px;
	background-color: rgba(94, 41, 154, .8);
	z-index: 2;
	position: relative;

}

header .container {
	position: relative; 

}

header .header-black{
	background-color: #000; 
	height: 40px; 
}

header .header-black li {
	background-image: url("../img/clube.png");
	background-repeat: no-repeat; 
	display: inline-block;	
}

header .header-black li a {
	width: 32px;
	height: 32px;
}



header #logotipo{
	position: absolute;
	top: -120px; 
	z-index: 2;
}

#menu li {
   display: inline-block;
   font-family: "Open-Sans"; 
}

#menu {
	margin: 23px 0px
}

#menu li a {
   color: #FFF;
   font-size: 16px;
   padding: 10px 25px
}

#menu li.search{
	width: 160px; 
	transition: 1s;  
}

#menu li.search.ativo{
	width: 200px;
	transition: 1s;  
}


#menu li.serach input {
	background-color: #5C2D90;
	color: #fff;
	border: none;
	height: 10px;
	line-height: 30px;
	padding-left: 8px; 
}



#banner {
	width: 100%; 
	height: 728px; 
	position: absolute;
	top: 150px; 
	background: url("../img/banner.jpg") no-repeat;
	background-position: 0px -250px;

}

#banner h1 {
	transition: 1s;
	color: #fff;
	font-size: 35px;
	position: relative; 
	top: 300px;
	font-family: "Open-Sans"; 
	margin-left: 25px; 
}





#news h2 {
	text-align: center;
	color: #5E2799;
	font-family: "Open-Sans"; 
	font-size: 48px;
	margin-top: 55%;
	margin-left: 37%
}

#news hr {
	border: #FDE192 solid 4px; 
	width: 200px; 
	margin-top: 0%;
	margin-left: 41%
	
}

#news .jogador{
	margin-top: 5%; 
} 

#news .jogador h3{
	color: #5E299A;
	font-size: 18px; 
	font-family: "Open-Sans"; 
	font-weight: bold; 
	margin-top:5px;
	margin-bottom: 0; 
}

#news .jogador{
	color: #A7A7A7; 
	font-family: "Open-Sans"; 
}

#estatisticas {
	margin-top: 150px;
	background-color: #5E299A; 
	width: 100%;
	height: 200px;
}

#estatisticas p {
	margin-top: 20px;
	color: #FDE192;
	text-transform: uppercase;
	font-family: 'Open-Sans-Light'; 
	font-size: 60px;
	text-align: center;

}

#estatisticas p small {
	color: #fff;
	font-size: 15px;
	display: block;
}

#call-to-action{
	text-align: center;
}	

#call-to-action h2 {
	text-align: center;
	color: #5E2799;
	font-family: "Open-Sans"; 
	font-size: 48px;
	margin-top: 10%;
	margin-left: 15%
}

#call-to-action hr {
	border: #FDE192 solid 4px; 
	width: 200px; 
	margin-top: 0%;
	margin-left: 41%
	
}

#call-to-action p {
	margin-top: 60px;
	margin-bottom: 40px;		
}

#call-to-action .btn {
	min-width: 164px; 
	height: 44px; 
	line-height: 30px; 
	border-radius: 0; 
} 


#call-to-action .btn-roxo{
	color: #fff;
	background-color: #5E299A; 
	border-color: #5E299A; 
}

#call-to-action .btn-amarelo{
	color: #000		;
	background-color: #FDE192; 
	border-color: #FDE192; 
}

#call-to-action .row-max-400 {
	margin: 0 auto; 
	max-width: 400px; 
} 

footer {
	margin-top: 20%;
}

footer{
	width: 100%;
}

footer .row p {
	line-height: 64px;
	margin-bottom: 0;
}

footer .row-cinza-claro{
	height: 200px;
	background-color: #171F26; 	
}

footer .row-cinza-escuro{
	
	height: 60px;
	background-color: #11171D; 
	border-top: #242D37 1px solid;
}

footer .text-roxo {
	color: #623291;
	font-family: 'Open-Sans';
	font-weight: bold;
	font-size: 14px; 
}

footer .pull-left{
	font-family: 'Open-Sans';
	font-size: 16px; 
	color: #666; 
}

footer .logotipo {
	margin-top: 28px; 		
}


#banner h1.efeito {
	color: red;
	font-size: 12em;
	transition: 1s;
}


footer .col-popular-post,
footer .col-links,
footer .col-get-touch {
		margin-top: 40px; 
}

footer .row-cols  h4{
	font-family: 'Open-Sans';
	font-size: 16px;
	color: #FFF;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
}

footer .row-cols h5 {
	color: #666;
	font-family: Arial;
	font-size: 14px;
}

footer .row-cols time{
	color: #FDE192;
	font-family: Arial;
	font-size: 14px;
}

footer .links a {
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}

footer .col-get-touch address {
	color: #666;
	font-family: Arial;
	font-size: 14px;
}
}

footer .col-get-touch i {
	color: #9B9B9B;
	font-size: 20px;
}

